# macOS
.DS_Store

# virtualenvs
.venv/
.venv_/
venv/

# python cache
__pycache__/
*.pyc
.pytest_cache/

# huggingface cache (обычно не хранят в репо)
.hf_cache/

mlruns/
mlartifacts/

# TorchServe artifacts
torchserve/model.pt
torchserve/model-store/
